body{
    background: #343a40;
    color: #f0f0f0;
}
.dark_nav{
    background-color: #343a40 ;
    text-transform: none;
    text-blink: none;
    font-family: Rationale, sans-serif;
    font-size: 18px;
}
#WebGL-output{
    text-transform: none;
    text-blink: none;
    font-size: 0;
    cursor: grab;
}
#WebGL-output:active{
    cursor: grabbing;

}
.card{
    padding: 20px;
    width: 600px;
    height: 400px;
    background-color: #343a40;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
input{
    width: 40px;
}